.card {
    background: #fff;
    border-radius: 2px;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
   }
   
   .card > .img-container ,.listingCard{
    height: 100%;
    overflow: hidden;
    text-align: center;
    align-content: center;
    background:#6CADDC;
   }
   .card > .listingCard > .img-container > img {
    width: 100%;
    max-height:100%;
   }
   
   .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px;
   }
   
   .card > .content > ul {
    list-style-type: none;
   }
   
   .card > .content > ul > li {
    margin-top: 18px;
   }
   
