.liveVid {
    border: "100px solid black";
    height: 400px;
    width: 400px;
    
    background-color: black;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid black;
    height: 400px;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    
    }
    #numVal{
        font-size: 2em; 
    }
    button{
        margin: 13px;
      }
      
    #battery{
        border:1px solid black;
        width:500px;
        height:20px;
        text-align: center;
    }

    #batteryNew {
        font-size: 2em;
      }

      .Batterycontainer {
        /* width: 28%; */
        margin-left: 2%
      }



    .bar {
        margin: 5px 0 3px;
        border: 6px solid #333;
        background: #333;
        overflow: hidden;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        box-shadow: 1px 1px 1px #777;
        -moz-box-shadow: 1px 1px 1px #777;
        -webkit-box-shadow: 1px 1px 1px #777;
    }
    .bar > span {
        display: block;
        height: 20px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .color0 > span {
        background-color: #FF0000;
    }  
    
    div.a{
        display: inline;
    }


    /* reset
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
     */
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    
    /* style */
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background: #f9f9f9;
    }
    
    a {
        color: #3698d4;
        text-decoration: none;
    }
    
    a:hover {
        color: #565656;
    }
    
    
    /* wrap */
    
    .wrap {
        width: 1040px;
        width: 65%;
        margin: 0 auto;
    }
    
    .pos-relative {
        position: relative;
    }
    
    

    
    
    /* float */
    
    .float-left {
        float: left;
    }
    
    .right-cntn {
        float: left;
        width: 33%;
    }
    
    .vdo-log .float-left {
        width: auto;
    }
    
    .float-right {
        float: right;
    }
    
    /* border */
    
    .border-1px {
        border-top: 1px solid #dddddd;
        margin: 5px 0 0 0;
    }
    
    
    /* clear */
    
    .clear {
        clear: both;
    }
    
    
   
    
    /* body */
    
    .content {
        float: left;
        width: 64%;
        padding: 0 20px 20px 0;
    }
    
    
    /* video */

    .video-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 98px;
        margin-right: auto;
        margin-left: auto;
    }
    
    #button {
        float: right;
        margin: 0 10px 10px 10px;
    }
    
    
    /* vb-2 */
    
    .margin_bottom {
        margin-bottom: 20px;
    }
    
    
    /* vb- 1 */
    
    .vdo-box {
        float: left;
        width: 615px;
        border: 1px solid #dddddd;
        background: #ffffff;
        margin: 10px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 0 0 5px #cccccc;
        -webkiti-box-shadow: 0 0 5px #cccccc;
        box-shadow: 0 0 5px #cccccc;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#cccccc')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#cccccc');
    }
    
    .video-player {
        float: left;
        border: none;
        margin: 10px;
        background: #ffffff;
    }

    
    .vb-desc {
        float: left;
        font-size: 12px;
        padding: 0 5px;
        margin: 10px;
        line-height: 20px;
        text-align: justify;
        color: #565656;
    }
    
    .vb-desc a {
        color: #3698d4;
        text-decoration: none;
    }
    
    .vb-desc a:hover {
        color: #565656;
        text-decoration: none;
    }
    
    .vb-desc span {
        color: #cccccc;
    }
    
    .vb-comment {
        float: left;
        font-size: 12px;
        width: 580px;
        padding: 0;
        margin: 10px;
        line-height: 20px;
        text-align: justify;
        color: #565656;
    }
    
    



    
    /* Video Log */
    
    .vdo-log {
        background: #ffffff;
        -moz-box-shadow: 0 0 10px #eeeeee;
        -webkit-box-shadow: 0 0 10px #eeeeee;
        box-shadow: 0 0 10px #eeeeee;
        padding: 10px;
        border: 1px solid #eeeeee;
    }
    
    .vdo-list {
        font-size: 12px;
        /*width:630px;*/
        border-bottom: 1px solid #eeeeee;
        padding: 10px;
    }
    
    .vdo-list a {
        text-decoration: none;
    }
    
    .vdo-thumb {
        float: left;
        color: #ffffff;
        border-right: 1px solid #eeeeee;
        padding: 0 10px 0 0;
    }
    
    .vdo-thumb a {
        display: inline-block;
        padding: 5px;
        width: 125px;
        height: 100px;
        position: relative;
        color: #ffffff;
        border: 1px solid #eeeeee;
        background-position: 5px;
        background-repeat: no-repeat;
    }
    
    .vdo-thumb span {
        float: left;
        font-weight: bold;
        background: rgba(0, 0, 0, .6);
        -moz-border-top-right-radius: .3em;
        -webkit-border-top-right-radius: .3em;
        border-top-right-radius: .3em;
        font-size: 10px;
        padding: 2px 3px;
        position: absolute;
        bottom: 5px;
    }
    
    .vdo-info {
        width: 74%;
        float: left;
        padding: 0 0 0 10px;
    }
    
    .vdo-title {
        display: block;
        margin: 5px 0;
    }
    
    .vdo-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4em;
    }
    
    .vdo-title a {
        text-transform: capitalize;
        color: #3698d4;
        text-decoration: none;
    }
    
    .vdo-title a:hover {
        color: #565656;
        text-decoration: none;
    }
    
    .vdo-title span {
        font-size: 12px;
        color: #767676;
    }
    
    .vdo-desc {
        float: left;
        color: #565656;
    }
    
    .vdo-detail,
    .vdo-desc {
        line-height: 1.4em;
    }
    
    .vdo-detail {
        float: left;
        color: #aaaaaa;
        margin: 5px 0 0 0;
    }
    
    .vdo-detail a {
        color: #3698d4;
        text-decoration: none;
    }
    
    .vdo-detail a:hover {
        color: #565656;
        text-decoration: none;
    }
    
    .vdo-detail span {
        color: #aaaaaa;
    }
    
    
    
    
    /* footer */
    
    .footer {
        font-size: 12px;
        float: left;
        width: 100%;
        color: #6b5f5a;
        border-top: 2px solid #555;
        padding-bottom: 10px;
    }
    
    .footer-block {
        float: left;
        width: 23%;
        margin: 10px;
    }
    
    .footer-list {
        margin: 10px 0;
        padding: 0;
    }
    
    .footer-list ul {
        list-style-type: none;
        margin: 0 0 0 5px;
        padding: 0;
    }
    
    .footer-list ul li {
        margin: 0;
        padding: 5px;
        clear: both;
    }
    
    .footer-list ul li a {
        color: #aaa;
        text-decoration: none;
    }
    
    .footer-list ul li a:hover {
        color: #3698d4;
        text-decoration: none;
    }
    
    
    /* sub footer */
    
    .sub-footer {
        font-size: 10px;
        color: #868686;
        padding: 10px 15px;
        float: left;
    }
    
    sub-footer-logo {
        float: left;
    }
    
    
  
    
    /* ---- pagination ---- */
    
    .page-nav li a {
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0);
    }
    
    
    
    /*-- Responsive Starts Here --*/
    
    @media(max-width:1080px) {
        .wrap {
            width: 85.5%;
        }
        .content {
            width: 60%;
        }
        .search input[type=text] {
            width: 280px;
        }
        .vdo-info {
            width: 68%;
        }
        .footer-block {
            width: 22.79%;
        }
    }
    
    @media(max-width:1050px) {
        .vdo-info {
            width: 67%;
        }
        .content {
            width: 59%;
        }
        .footer-block {
            width: 22.7%;
        }
    }
    
    @media(max-width:1024px) {
        .vdo-info {
            width: 100%;
            padding: 0;
            float: none;
        }
        .vdo-thumb {
            float: none;
            border-right: none;
            padding: 0;
        }
        .content {
            width: 58%;
        }
        .footer-block {
            width: 22.65%;
        }
    }
    
    @media(max-width:991px) {
        .footer-block {
            width: 22.5%;
        }
        .search input[type=text] {
            width: 230px;
        }
        .content {
            padding: 0 8px 20px 0;
        }
    }
    
    @media(max-width:900px) {
        .content {
            padding: 0 0 20px;
            width: 100%;
        }
        .video-player {
            float: none;
        }
        .menu>ul>li>a {
            padding: 16px 9px;
        }
        .menu {
            bottom: 9px;
        }
        .footer-block {
            width: 22.3%;
        }
        .lines2 {
            float: none;
        }
        .feed-right {
            float: none;
        }
        .feed-right .sidebox-one {
            width: 100%;
        }
        .sb-vdo-list {
            width: 47%;
            float: left;
        }
    }
    
    @media(max-width:800px) {
        .search {
            padding: 0 0 5px 0px;
        }
        .search input[type=text] {
            width: 180px;
        }
        .footer-block {
            width: 22%;
        }
        .sb-vdo-info {
            width: 80%;
        }
        .sb-vdo-list {
            width: 97%;
            float: none;
        }
    }
    
    @media(max-width:768px) {
        .wrap {
            width: 90%;
        }
        .search input[type=text] {
            width: 160px;
        }
    }
    
    @media(max-width:767px) {}
    
    @media(max-width:736px) {
        .footer-block {
            width: 46.9%;
        }
    }
    
    @media(max-width:667px) {
        .pos-relative .float-right {
            float: none;
        }
        .menu {
            position: inherit;
            float: none;
            margin-top: 1em;
            border-top: 1px solid rgba(221, 221, 221, 0.42);
        }
        .footer-block {
            width: 46.6%;
        }
        .menu>ul>li {
            width: 33%;
            text-align: center;
        }
        .footer-block {
            width: 46.5%;
        }
        .sub-menu {
            width: auto;
            z-index: 9;
        }
    }
    
    @media(max-width:640px) {
        .footer-block {
            width: 46.4%;
        }
        .lines2 {
            width: auto;
        }
    }
    
    @media(max-width:600px) {
        .search input[type=text] {
            width: 284px;
        }
        .top-menu {
            margin: 10px 2px 2px;
        }
        .footer-block {
            width: 46.1%;
        }
    }
    
    @media(max-width:568px) {
        .search input[type=text] {
            width: 255px;
        }
        .footer-block {
            width: 45.9%;
        }
    }
    
    @media(max-width:480px) {
        .footer-block {
            width: 45.9%;
        }
        .search input[type=text] {
            width: 176px;
        }
        .footer-block {
            width: 45.2%;
        }
        .sub-footer {
            float: none;
            text-align: center;
        }
    }
    
    @media(max-width:440px) {
        .logo {
            float: none;
            text-align: center;
        }
        .search-main {
            float: none;
            width: 100%;
            text-align: center;
        }
        .search input[type=text] {
            width: 77%;
        }
        .top-menu {
            float: none;
            text-align: center;
        }
        .top-menu li {
            margin-top: 0.5em;
        }
        .menu>ul>li {
            width: 32.95%;
        }
        .footer-block {
            width: 44.7%;
        }
    }
    
    @media(max-width:414px) {
        .search input[type=text] {
            width: 75%;
        }
        .footer-block {
            width: 94%;
        }
    }
    
    @media(max-width:384px) {
        .search input[type=text] {
            width: 73%;
        }
        .menu>ul>li {
            width: 32.9%;
        }
        .copy {
            line-height: 27px;
        }
        .sub-menu>ul {
            width: 103px;
        }
    }
    
    @media(max-width:375px) {
        .sidebox-image {
            margin: 0px;
        }
        .lines {
            width: auto;
        }
    }
    
    @media(max-width:320px) {
        .search input[type=text] {
            width: 68%;
        }
        .menu>ul>li {
            width: 32.8%;
        }
        .sidebox-image img {
            width: 93%;
        }
        .right-cntn {
            float: left;
            width: 100%;
        }
        .sb-label {
            width: 66px;
        }
        .sb-submit {
            width: 258px;
        }
        .sb-vdo-list {
            width: 93%;
        }
    }
    
    
    /*-- //Responsive Ends Here --*/